.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.mylogo{
  display: flex;
  justify-content: right;
  position: fixed;
  height: 300px;
  width: 300px;
  align-items: flex-end;
  /*translate: 1100px 60px;*/
  right: 5%;
  top: 10%;
  
}
.mytext{
  position: relative;
  width: 200px;
}